body {
    max-width: 700px;
    margin: auto;
    color: #333;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header ul {
    display: flex;
}

header ul li {
    margin-right: 30px;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #888;
}

footer {
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

footer span {
    color: grey;
}

.about_image {
    width: 250px;
}

.main_content {
    flex-grow: 1;
}

#error {
    color: red;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: white;
    padding: 8px;
}